<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="my-icons.html">
<link rel="import" href="shared-styles.html">


<!-- Añadimos compoenente que viene para en linea inferior para sacar array (    <template is="dom-repeat" items="...)-->
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<dom-module id="my-componentemongodb">
  <template>
    <style>
      :host {  /* Para referenciar el estilo de mi componente */
        /*display: inline-block;*/
        background-color: #FF66CC;
      }
      :host([hidden]) {
        display: none;
      }

  .boton_personalizado{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
  }
  body {
      font: 20px Montserrat, sans-serif;
      line-height: 1.8;
      color: #f5f6f7;
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-1 {
      background-color: #1abc9c; /* Green */
      color: #ffffff;
  }
  .bg-2 {
      background-color: #474e5d; /* Dark Blue */
      color: #ffffff;
  }
  .bg-3 {
      background-color: #ffffff; /* White */
      color: #555555;
  }
  .bg-4 {
      background-color: #2f2f2f; /* Black Gray */
      color: #fff;
  }
  .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  }
  .navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
      color: #1abc9c !important;
  }
  .ver3
  {
  background:#000;
  font: 16px Montserrat, sans-serif;

  }
.ver2
{
background:#000;
font: 20px Montserrat, sans-serif;
font-style: italic;
}
.ver
{
float:left;
border:2px solid #474e5d;
background-color: #1abc9c;
color: #ffffff;
width:46%;
height: 100%;
margin:10px;
padding-top: 20px;
padding-bottom: 20px;
padding-left: 10px;
padding-right: 10px;
}
.ver4
{
float:left;
border:2px solid #474e5d;
background-color: #474e5d;
color: #ffffff;
width:100%;
height: 100%;
margin:10px;
padding-top: 20px;
padding-bottom: 20px;
padding-left: 10px;
padding-right: 10px;
font: 14px Montserrat, sans-serif;
}
.abajo
{
  /*position:relative;
  bottom:5px;
  right: 10px;*/
  margin-left: 25px;
  /*vertical-align:bottom;*/
}
    </style>

    <!-- Metemos parte para interactuar con MongoDB -->


    <p hidden$={{!disable}}>
      Para postear y comentar debes estar Logado quedara incluido vuestro nick en el posts o en el comentario
    </p>
    <center>
    <div>

      <a class="navbar-brand" onclick="modal3.open()" role="button" tabindex="0" animated="" elevation="1" aria-disabled="false" hidden$={{disable}}>Nuevo Post</a> &nbsp;&nbsp;&nbsp;
      <a class="navbar-brand" on-click="obtenerPosts" role="button" tabindex="0" animated="" elevation="1" aria-disabled="false" hidden$={{disable}}>Actualizar</a> &nbsp;&nbsp;&nbsp;
      <!--<button type="button" name="btnObtenerPosts" hidden$={{disable}} id="btnObtenerPosts"  on-click="obtenerPosts" class="boton_personalizado">Actualizar</button>-->
    </div>


  </center>
    <center><div class="container bg-1" on-load="obtenerPosts">
      <template is="dom-repeat" items="[[posts]]">
               <div class="ver">
                 <div class="ver2">[[item.titulo]]</div>
                  <p font-size="18px"><b>[[item.resumen]]</b> </p>
                  <p font-size="16px">[[item.texto]]</p>
                  <div class="ver3">Usuario: [[item.nick]] , Fecha: [[item.fecha]]</div><br>
                  <!-- <button type="button" name="" on-tap="editar">[[item.codigo]]</button>-->
<button type="button" name="" on-tap="editar" class="boton_personalizado">Ver comentarios</button>
               </div>
      </template>

    </div></center>


    <center>
      <div class="abajo">
    <button type="button" name="anterior" class="boton_personalizado" id="anterior" on-click="irAtras" hidden$={{!inicio}}>&lt;&lt;</button>
    <button type="button" name="posterior" class="boton_personalizado" id="posterior" on-click="irdelante" hidden$={{!fin}}>&gt;&gt;</button>
  </div></center>

              <template is="dom-repeat" items="[[comentarios]]" onload="editar">
<hr>
              <div class="ver4">[[item.texto]]
              <p font-size="10px">[[item.fecha]], [[item.nick]] </p>

            </div>
            <div>



            </div>
            <!--<button type="button" name="btnaltaPosts" id="btnaltaPosts" hidden$={{disable}} on-click="" class="boton_personalizado">Comentar..</button>
              <br>Autor:
              <b>Nombre:</b> [[item.autor.nombre]] <b>Apellido:</b> [[item.autor.apellido]]-->
            </template>
            <div>
            <a class="navbar-brand" onclick="modal4.open()" role="button" tabindex="0" animated="" elevation="1" aria-disabled="false" hidden$={{disable}}>Comentar</a>
            </div>

      </div>
  </template>
    <script>
var posts= new Array();
var objeto ;
var objetoMongo;

      Polymer({
        is: 'my-componentemongodb',
        properties: {
          disable: {
            type: Boolean,
            value: true,
            notify: true
          },
          inicio: {
            type: Boolean,
            value: false,
            notify: true
          },
          fin: {
            type: Boolean,
            value: true,
            notify: true
          },
          componentsVisibility: {
            type: Boolean,
            value: false,
            notify: true
          },
            url: {
              type: String,
              value: "https://api.mlab.com/api/1/databases/bootcamp/collections/entradas"
            },
            url2: {
              type: String,
              value: "https://api.mlab.com/api/1/databases/bootcamp/collections/comentarios"
            },
            apiKey: {
              type: String,
              value: "?apiKey=necrthi2AUYGjJOi_Qr_IUuAQmwmOD8F"
            },
            orden:{
              type: String,
              value: "&s={'codigo':-1}"
            },
            posts: {
              type: Array,
              notify: true, //Automáticamente refresca cuando cambia algo...(se supone)
            },
            cuenta: {
              type: Number,
              notify: true, //Automáticamente refresca cuando cambia algo...(se supone)
            },
            comentarios: {
              type: Array,
              notify: true, //Automáticamente refresca cuando cambia algo...(se supone)
            },
            carga: {
         type: String,
         computed: 'obtenerPosts()',
          }
        },
        listeners: {
        },

        ready: function() {
          var conectado= sessionStorage.getItem("logon");
          if (conectado)
            this.disable=false;
        /*setInterval(() => {
         this.obtenerPosts();
       }, 500);*/
      },
          obtenerPosts: function() {
          //console.log("REFRESCANDO");
          var peticionCuenta = new XMLHttpRequest();
          var peticion = new XMLHttpRequest();
          sessionStorage.setItem("salto", "0");
          var paginacion = "&sk=" + sessionStorage.getItem("salto") + "&l=2";
          peticion.open("GET", this.url + this.apiKey +this.orden + paginacion, false);
          peticion.setRequestHeader("Content-Type", "application/json");
          peticion.send();
          this.posts = JSON.parse(peticion.responseText);
          sessionStorage["posts"] = peticion.responseText;

          peticionCuenta.open("GET", this.url + this.apiKey + paginacion + "&c=true", false);
          peticionCuenta.setRequestHeader("Content-Type", "application/json");
          peticionCuenta.send();
          this.cuenta = JSON.parse(peticionCuenta.responseText);
          sessionStorage["cuenta"] = peticionCuenta.responseText;
          if (this.cuenta>2)
            this.fin=true;

        },
        irAtras: function(){
          var varsalto= parseInt(sessionStorage.getItem("salto"));
          if (varsalto > 0) {
            //this.fin=false;
          var peticion = new XMLHttpRequest();
          var varsalto= parseInt(sessionStorage.getItem("salto"))-2;
          sessionStorage.setItem("salto", varsalto);
          var paginacion = "&sk=" + varsalto + "&l=2";
          peticion.open("GET", this.url + this.apiKey + paginacion, false);
          peticion.setRequestHeader("Content-Type", "application/json");
          peticion.send();
          this.posts = JSON.parse(peticion.responseText);
          sessionStorage["posts"] = peticion.responseText;
        }
        /*else{
          this.inicio=true;
        }*/
        },
        irdelante: function() {
          var varsalto= parseInt(sessionStorage.getItem("salto"));
          //varsalto= parseInt(sessionStorage.getItem("salto"))+2;
          if (varsalto +2 <= this.cuenta)
          {
                    var peticion = new XMLHttpRequest();
                    varsalto= parseInt(sessionStorage.getItem("salto"))+2;
                    sessionStorage.setItem("salto", varsalto);
                    this.inicio=true;
                    var paginacion = "&sk=" + varsalto + "&l=2";
                    peticion.open("GET", this.url + this.apiKey + paginacion, false);
                    peticion.setRequestHeader("Content-Type", "application/json");
                    peticion.send();
                    this.posts = JSON.parse(peticion.responseText);
                    sessionStorage["posts"] = peticion.responseText;
            }
        /*else {
          this.fin=true;
        }*/
        },
        editar: function(e){
          objeto = e.model;
          //var cod=objeto.item.codigo;
          cod=objeto.item.codigo;
          this.comentarios=[];
          //sessionStorage.removeItem("comentarios");

          var peticion = new XMLHttpRequest();
          var parametro="&q={'codigoentrada':'"+ cod +"'}";
          //var parametro = "&codigoentrada=eq."+cod;
          var URLItem = this.url2 + this.apiKey + parametro;
          console.log(URLItem);
          peticion.open("GET", URLItem, false);
          peticion.setRequestHeader("Content-Type", "application/json");
          peticion.send();
          this.comentarios = JSON.parse(peticion.responseText);
            //sessionStorage["comentarios"] = peticion.responseText;
        },
        estadobotones: function(ver){
          console.log("entramos en la funcion estado botones" +ver);
          console.log(logon);
          return ver;
        },
        verlogin: function(){
          window.location.assign("componenteposgree");
        }
        //alert("hola");
        //window.load=obtenerPosts;
    })

    </script>
</dom-module>
