<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="my-icons.html">
<link rel="import" href="shared-styles.html">

<!-- Añadimos compoenente que viene para en linea inferior para sacar array (    <template is="dom-repeat" items="...)-->

<dom-module id="my-componentealta">
  <template>
    <style>
      :host {  /* Para referenciar el estilo de mi componente */
        /*display: inline-block;
        background-color: #FF66CC;*/
      }
      :host([hidden]) { display: none; }
      .resto {
        font: 14px Montserrat, sans-serif;
        color: #000000;
        font-style:italic;
        }
        .cajas{
          font: 20px Montserrat, sans-serif;
        }
    </style>
    <div class="cajas">
    <label>Usuario (nick) </label><br>
    <iron-input type="text" value="{{usuario::input}}" required>
      <input placeholder="">
    </iron-input></div>
    <div><label>Password </label><br>
    <iron-input type="text" value="{{password::input}}" required>
      <input placeholder="">
    </iron-input>
    </div>
    <div><label>Repetir Password </label><br>
    <iron-input type="text" value="{{reppassword::input}}" required on-change="validariguales">
      <input placeholder="">
    </iron-input>
    </div>
    <div class="cajas">
    <label>Email</label><br>
    <iron-input type="text" value="{{email::input}}" required>
      <input placeholder="">
    </iron-input></div>
    <div><label>Repetir Email </label><br>
    <iron-input type="text" value="{{repemail::input}}" required on-change="validariguales">
      <input placeholder="">
    </iron-input>
    </div>
    <br>
<div><center><button type="button" name="button" on-tap="Registrarse">&nbsp;&nbsp;&nbsp;&nbsp;Go...&nbsp;&nbsp;&nbsp;&nbsp;</button></center></div>

<br>
    <div class="resto">Una vez dado de alta debe Logarse con el nuevo usuario en Login</div>
  </template>
    <script>
    var objeto;
      Polymer({
        is: 'my-componentealta',
        properties: {
              disable:{
              type: Boolean,
              value: false,
              notify: true
            },
            componentsVisibility: {
              type: Boolean,
              value: false,
              notify: true
            },
            posts: {
              type: Array,
              notify: true //Automáticamente refresca cuando cambia algo...(se supone)
            }
          //  hidden: { type: Boolean, value: false, reflectToAttribute: true, notify: true}
        },
        Registrarse: function() {
          alert(this.usuario);
          if (this.usuario=undefined)
            alert("hola");
          if ((this.email!=this.repemail) && (this.password!=this.reppassword) && (this.email!="") && (this.password!="") && (this.usuario!=""))
          {
                var peticion = new XMLHttpRequest();
                var URLItem = "http://restapi-blogpol12.7e14.starter-us-west-2.openshiftapps.com/usuarios_sofia";
                var parametro = "";
                parametro += '{"usuario":"';
                parametro += this.usuario;
                parametro += '", "email":"';
                parametro += this.email;
                parametro += '", "password":"';
                parametro += this.password;
                parametro += '"}';
                peticion.open("POST", URLItem, false);
                peticion.setRequestHeader("Content-Type", "application/json");
                peticion.setRequestHeader("Access-Control-Allow-Origin", "*");
                peticion.setRequestHeader("Authorization","Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoic29maWEifQ.oxOhHAHasU_HRI8Mv9aoGEQTjQNvZtZ2HUWzgaxwlSI");
                peticion.send(parametro);
                alert ("Registro "+this.usuario+", efectuado correctamente");
              }
              else{
                alert("Todos los campos son obligatorios")
              }
            },
          validariguales: function(){
            if (this.email!=this.repemail)
            {
              alert("Los emails han de ser iguales");
                          }
            if (this.password!=this.reppassword)
            {
              alert("Las password han de ser iguales");
                          }
          }
        /*Logarse: function(e) {
                var peticion = new XMLHttpRequest();
                var URLItem = "http://restapi-blogpol12.7e14.starter-us-west-2.openshiftapps.com/usuarios_sofia";
                var parametro = "?usuario=eq."+this.usuario+"&password=eq."+this.password;
                URLItem = URLItem + parametro;
                peticion.open("GET", URLItem, false);
                peticion.setRequestHeader("Content-Type", "application/json");
                peticion.setRequestHeader("Access-Control-Allow-Origin", "*");
                peticion.setRequestHeader("Authorization","Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoic29maWEifQ.oxOhHAHasU_HRI8Mv9aoGEQTjQNvZtZ2HUWzgaxwlSI");
                peticion.send();
                var valores = JSON.parse(peticion.responseText);
                if( valores.length > 0 ) {
                      //this.hidden=true;
                      sessionStorage.setItem("logon", true);
                      sessionStorage.setItem("usuariologon", this.usuario);
                      window.location.assign("componentemongodb");
                      // logon=true;
                      // usuariologon=this.usuario;
                    }
                  else {
                    alert("Usuario y/o contraseña erroneos o no estas registrado");
                  };
        }*/

})
</script>
</dom-module>




    <!-- Metemos parte para interactuar con MongoDB -->

    <!-- Metemos parte para interactuar con MongoDB -->
      <!--<div><span>Esta es mi app key necrthi2AUYGjJOi_Qr_IUuAQmwmOD8F y la <a href="https://api.mlab.com/api/1/databases/bootcamp/collections/posts?apiKey=necrthi2AUYGjJOi_Qr_IUuAQmwmOD8F">url</a> para ver los registros </span></div>
    <div>
      User ID:
      <input type="text" name="userInput"/>
      <p>
      Email:
      <input type="text" name="emailInput"/>
      <p>
      Repetir Email:
      <input type="text" name="repetiremailInput"/>
      <p>
      Password:
      <input type="text" name="passwordInput"/>
      <p>
      Repetir Password:
      <input type="text" name="repetirpasswordInput"/>

      <p>
      <center><div><button type="button" name="btnAlta" on-click="Registrarse">Registrar</button> &nbsp;&nbsp;&nbsp;&nbsp;
        <button type="button" name="btnCerrar" on-click="Cerrar">Cerrar</button>
      </center>
      <p>
          </div>
  </template>
    <script>

      Polymer({
        is: 'my-componentealta',
        properties: {

            posts: {
              type: Array,
              notify: true, //Automáticamente refresca cuando cambia algo...(se supone)
            }
        },
        listeners: {
        },
        Registrarse: function() {

                //elemento = this.$;
                var usuario = document.getElementsByName("userInput")[0].value;
                var email = document.getElementsByName("emailInput")[0].value;
                  var email2 = document.getElementsByName("repetiremailInput")[0].value;
                var password = document.getElementsByName("passwordInput")[0].value;
                var password2 = document.getElementsByName("repetirpasswordInput")[0].value;
                if (email!=email2)
                  alert("Los emails debe ser iguales");
                else if (password!=password2)
                  alert("Las contraseñas deben ser iguales");
                    else
                      {

                var peticion = new XMLHttpRequest();
                var URLItem = "http://restapi-blogpol12.7e14.starter-us-west-2.openshiftapps.com/usuarios_sofia";

                peticion.open("POST", URLItem, false);
                peticion.setRequestHeader("Content-Type", "application/json");
                peticion.setRequestHeader("Access-Control-Allow-Origin", "*");
                peticion.setRequestHeader("Authorization","Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoic29maWEifQ.oxOhHAHasU_HRI8Mv9aoGEQTjQNvZtZ2HUWzgaxwlSI");
              var parametro = "";
                parametro += '{"usuario":"';
              parametro += usuario;
                parametro += '", "email":"';
                parametro += email;
                parametro += '", "password":"';
                parametro += password;
                              parametro += '"}';
                //console.log(parametro);
                peticion.send(parametro);
                alert ("Registro Nick: "+usuario+" Efectuado correctamente");
                }
            },
          Cerrar:function(){

              window.close();
          },

    })
    </script>
</dom-module>-->
